.sign-up-form-main{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-form-main-div{
    width: 50%;
    background-color: rgb(216, 235, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(87, 175, 252);
    padding: 2rem;
    border-radius: .5rem 3rem .5rem 3rem;
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}
.sign-up-form input{
    margin-bottom: 1.5rem;
    height: 2.5rem;
    width: 70%;
    padding: .5rem;
    border: none;
    outline: none;
}
.sign-up-form button{ 
background-color: pink;
padding: .5rem 1.5rem;
border: none;
margin-bottom: 1rem;
margin-top: 1rem;
font-weight: 500;
border-radius: 3px;
}
